$border-color: rgba(128, 128, 128, 0.39);

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    margin: 0 auto;

    h1{
        font-weight: 400;
    }
    .searchBar {               
        padding: 8px 12px;
        border-radius: 6px;
        border: 1px solid $border-color; 
        display: flex;   
        align-items: center;        
        gap: 12px;
        input {
            width: 100%;
            border: none;
            outline: none;
        }        
    }
}